<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Comment #<%= @comment.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/comments" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/comments/<%= @comment.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit comment
        </a>
      </div>

      <div class="col">
        <a href="/delete_comment/<%= @comment.id %>" class="btn btn-block btn-outline-secondary">
          Delete comment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Valid
      </dt>
      <dd>
        <%= @comment.valid %>
      </dd>

      <dt>
        Auto removal date
      </dt>
      <dd>
        <%= @comment.auto_removal_date %>
      </dd>

      <dt>
        Auto removal time
      </dt>
      <dd>
        <%= @comment.auto_removal_time %>
      </dd>

      <dt>
        Article
      </dt>
      <dd>
        <% if @comment.article.present? %>
          <a href="/articles/<%= @comment.article_id %>">
            <%= @comment.article.title %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@comment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@comment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

