<%= search_form_for @q, :class => collapse_search_form, :id => "articles_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :title_cont, "Title contains" %>
    <%= f.text_field :title_cont, :class => "form-control", :placeholder => "Title contains" %>
  </div>

  <div class="form-group">
    <%= f.label :publish_date, "Publish date" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='publish_dategteqPicker' data-target-input="nearest">
          <%= f.text_field :publish_date_gteq, :class => "form-control datetimepicker-input", :placeholder => "Publish date greater than or equal to", :data => {:target => '#publish_dategteqPicker'} %>
          <div class="input-group-append" data-target='#publish_dategteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='publish_datelteqPicker' data-target-input="nearest">
          <%= f.text_field :publish_date_lteq, :class => "form-control datetimepicker-input", :placeholder => "Publish date less than or equal to", :data => {:target => '#publish_datelteqPicker'} %>
          <div class="input-group-append" data-target='#publish_datelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#publish_dategteqPicker').datetimepicker({
              format: 'MM/DD/YYYY'
          });
          $('#publish_datelteqPicker').datetimepicker({
              useCurrent: false,
              format: 'MM/DD/YYYY'
          });
          $('#publish_dategteqPicker').on("dp.change", function (e) {
              $('#publish_datelteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#publish_datelteqPicker').on("dp.change", function (e) {
              $('#publish_dategteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :rating, "Rating" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :rating_gteq, :class => "form-control", :placeholder => "Rating greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :rating_lteq, :class => "form-control", :placeholder => "Rating less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :published_eq, "Published" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :published_eq, "1", checked: ((params[:q] && params[:q][:published_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :published_eq, "0", checked: ((params[:q] && params[:q][:published_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :published_eq, ""%> Either
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :content_cont, "Content contains" %>
    <%= f.text_field :content_cont, :class => "form-control", :placeholder => "Content contains" %>
  </div>

  <div class="form-group">
    <%= f.label :publish_time, "Publish time" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='publish_timegteqPicker' data-target-input="nearest">
          <%= f.text_field :publish_time_gteq, :class => "form-control datetimepicker-input", :placeholder => "Publish time greater than or equal to", :data => {:target => '#publish_timegteqPicker'} %>
          <div class="input-group-append" data-target='#publish_timegteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
          </div>
          <script type="text/javascript">
            $(function () {
                $('#publish_timegteqPicker').datetimepicker({
                  format: 'LT'
                });
            });
          </script>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='input-group date' id='publish_timelteqPicker' data-target-input="nearest">
          <%= f.text_field :publish_time_lteq, :class => "form-control datetimepicker-input", :placeholder => "Publish time less than or equal to", :data => {:target => '#publish_timelteqPicker'} %>
          <div class="input-group-append" data-target='#publish_timelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
          </div>
          <script type="text/javascript">
            $(function () {
                $('#publish_timelteqPicker').datetimepicker({
                  format: 'LT'
                });
            });
          </script>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :comments_valid_eq, "Comment valid " %>
    <label class="radio-inline">
      <%= f.radio_button :comments_valid_eq, "1", checked: ((params[:q] && params[:q][:comments_valid_eq]) == "1" ? "checked" : "") %> Yes
    </label>
    <label class="radio-inline">
      <%= f.radio_button :comments_valid_eq, "0", checked: ((params[:q] && params[:q][:comments_valid_eq]) == "0" ? "checked" : "")%> No
    </label>
    <label class="radio-inline">
      <%= f.radio_button :comments_valid_eq, ""%> Either
    </label>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/articles" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#articles_filters">
  Show filters
</a>
